@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-geist-mono);
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 32px;
  --spacing-5: 64px;
  --spacing-6: 128px;
  --color-money: #ffb700;
  --color-mahogany: #461414;
  --color-charlie: #662020;
  --color-padauk: #815555;
  --color-vanilla: #fff3c3;
  --color-sand: #fff8dd;
  --color-bone: #fffbec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
